.hb-horizontal-view {
  @include hb-page-width;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__card {
    background-color: greenyellow; // wip: remove!!
    margin-bottom: 1.5rem;
    width: 100%;

    @include grid-media-min('sm') {
      width: 48.75%;
    }
  }
}
