// Fonts
//
// Colorful Theme Fonts
//
// $hb-colorful-font--sans - $su-font-sans
//
// Font Weights:
// Regular - 400
// Semibold - 600
// Bold - 700
//
// Style guide: settings.fonts

// Colorful Theme Fonts
// Source Sans Pro
$hb-colorful-font--sans: $su-font-sans;

// Source Sans Pro Font Weights
$hb-colorful-font-weights: (
  regular: 400,
  semibold: 600,
  bold: 700
);
